{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section card="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>CRUD is an acronym for Create, Read, Update, and Delete, which refers to the four basic operations that can be performed on data in a database or web application. A CRUD application is a web-based system that allows users to interact with a database by creating new records, reading existing records, updating existing records, and deleting records.</p>

        <p>Creating a CRUD application with Django is a good idea because Django is a high-level, web framework designed to make it easy to build web applications quickly and efficiently. It provides many features and tools that simplify the process of building a CRUD app.</p>
    </section>
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Signup
        </a>
    </div>

</main>

{% endblock %}